# Homework 1 - Q3

How has crime changed over time?

Looking at graphs and charts generated in questions 1&2, we can see that overall, crime in Chicago from 2017 to 2018 appears to largely remain concentrated in the same neighborhoods. There is some variation within some types of crime appear to have increased compared to the previous year, while others have slightly decreased.

In [1]:
#Let's again reload to use in this notebook
import pandas as pd
from sodapy import Socrata
import numpy as np
import matplotlib.pyplot as plt
import datetime

client = Socrata("data.cityofchicago.org", None)
results = client.get("6zsd-86xi", where="year=2017 OR year=2018",limit=1000000)
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

Let's now add in date information so that we can look at the four weeks leading up to July 28th that the candidate was discussing.

In [2]:
# #Add months in 
results_df['new_date'] = pd.to_datetime(results_df['date'])
results_df['month'] = results_df['new_date'].dt.month
results_df['day'] = results_df['new_date'].dt.day

#Filter for the specific 4 week period in question
july = results_df.loc[(results_df["day"] < 26) & (results_df['month'] == 7)]
june = results_df.loc[(results_df["day"].isin([28,29,30])) & (results_df['month'] == 6)]

date_df = pd.concat([july, june])
date_df.head(1)

,arrest,beat,block,case_number,community_area,date,description,district,domestic,fbi_code,...,longitude,primary_type,updated_on,ward,x_coordinate,y_coordinate,year,new_date,month,day
13,False,1432,021XX W MC LEAN AVE,JA353568,22,2017-07-17T10:10:00.000,OVER $500,014,False,06,...,NaN,THEFT,2017-07-24T15:54:23.000,32,NaN,NaN,2017,2017-07-17 10:10:00,7,17

In [3]:
robberies = date_df.loc[date_df["primary_type"] == 'ROBBERY']
robberies.groupby('year').size()

year
2017    907
2018    813
dtype: int64

In [4]:
print('Robberies decreased by', "{0:.2f}".format((813 - 907)/907))

Robberies decreased by -0.10

Assuming from the problem that we are looking at the month of July (one part said week), this would be incorrect -- in fact robberies have declined from 2017 to 2018 as seen in the outputs above, by ~10%

In [5]:
battery = date_df.loc[date_df["primary_type"] == 'BATTERY']
battery.groupby('year').size()

year
2017    4161
2018    4504
dtype: int64

In [6]:
print('Batteries increased by', "{0:.2f}".format((4504 - 4161)/4161))

Batteries increased by 0.08

Batteries have increased, but only slightly, by ~8% -- not by 136%

In [7]:
burglary = date_df.loc[date_df["primary_type"] == 'BURGLARY']
burglary.groupby('year').size()

year
2017    1101
2018    1023
dtype: int64

In [8]:
print('Burglaries decreased by', "{0:.2f}".format((1023 - 1101)/1101))

Burglaries decreased by -0.07

Burglaries look to have declined as seen above.

In [9]:
vehicle = date_df.loc[date_df["primary_type"] == 'MOTOR VEHICLE THEFT']
vehicle.groupby('year').size()

year
2017    909
2018    769
dtype: int64

In [10]:
print('Vehicle theft decreased by', "{0:.2f}".format((769 - 909)/909))

Vehicle theft decreased by -0.15

Motor vehicle theft appears to have declined slightly

In [11]:
date_df.groupby('year').size()

year
2017    22260
2018    22764
dtype: int64

In [12]:
print('Overall crime has only risen by'," {0:.2f}".format(((22764 - 22260)/24797)), 'from 2017 to 2018')

Overall crime has only risen by  0.02 from 2017 to 2018

Overall, crime has only risen by ~2% from 2017 to 2018

The statistics I am calculating from overall data appear different from the candidates. However, I do not know if he is putting specific perhaps defining Chicago as a certain subset of wards (his website seemed to indicate just the 43rd ward). Thus it is possible his statistics are correct based on the way he is cutting the data, but in this case, I would agree it could be interpreted as misleading since he would be cutting the data with the intent to skew peoples' perception. The fact that the date selected was very specific also indicates to me that he was cherry-picking. 

Moreover, the wording on his webpage is ambiguous (in saying the month leading up to vs. week) -- it's possible that he could be doing a month to year comparison, which would be a clear example of distorting the data.

Finally, as alluded to above, his website would indicate that he was looking just at ward 43. If I look at overall crime in this ward, it has actually only risen by 12%, again lower than the figures he suggested.

In [17]:
date_df_43 = date_df[date_df['ward'] == '43']
print('Crime rose by ', " {0:.2f}".format(((378 - 339)/339)))
date_df_43.groupby('year').size()

Crime rose by   0.12

year
2017    339
2018    378
dtype: int64

Findings related to crime, as illustrated in outputs for problems 1,2 --

1. There is a lot of overlap in neighborhoods witnessing violent crimes of different types, e.g. neighborhoods with high homicide, battery are typically overlapping.

2. These neighborhoods that figure at the top of the list for such types of crime are in fact largely concentrated in the South, West parts of the city 

3. Looking at overall crimes reported may not be a useful metric, since as we saw in an earlier problem, there are lots of crimes reported in more well-to-do areas that see less violent incidents (which could be thus related to willingness to report).

4. Areas with violent crime, from the wards we looked at in 2, tend to be less well off socioecononically; we saw lower median income, higher unemployment.

5. There also appears to be correlation with race, with these areas including more non-white residents.

Caveats to the analysis include: 

I am new to the datasets; additional time and exploration would likely yield some inconsistencies or other issues in need of correcting, and there may be better or more nuanced ways of geographically cutting the data that additional contextual knowledge or exploration would suggest.

This is a one year on year explanation; more years could provide more useful longer trends. 

Additional variables could be brought in from ACS or other sources to develop a more nuanced picture -- of which this data will still only be a small part, and additional broader context would also be needed.